@import "../bootstrap/less/bootstrap.less";

dt {
	font-family: monospace, monospace;
}

dd {
	padding-left: 40px;
}

/* icons for chapter links */
.pager .previous span {
	.glyphicon;
	.glyphicon-chevron-left;
}

.pager .next span {
	.glyphicon;
	.glyphicon-chevron-right;
}

/* images */
p img {
	.well;
	margin: 20px;
}

.highlight .lineno {
	color: #AB8B25;
}

#sidebar-wrapper {
	overflow: hidden;
}

/* nice nested list counters */
#sidebar-wrapper ol {
	counter-reset: item
}
#sidebar-wrapper li {
	display: block
}
#sidebar-wrapper li:before {
	content: counters(item, ".") " ";
	counter-increment: item
}
