<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101409735-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-101409735-1');
		</script>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-items">
				<ul class="nav navbar-nav">
					{% for post in site.posts reversed %}
					{% if page.url == post.url %}
					<li class="active"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
					{% else %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</nav>

		{{ content }}

		<footer>
			<div class="contact">
				<p>
				<a href="https://github.com/silverhammermba">github.com/silverhammermba</a><br />
				</p>
			</div>
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.name }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://silverhammermba.github.io/superuser/" property="cc:attributionName" rel="cc:attributionURL">Maxwell Anselm</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
		</footer>
	</body>
</html>
