<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-items">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-items">
				<ul class="nav navbar-nav">
					{% for post in site.posts reversed %}
						{% if page.url == post.url %}
					<li class="active"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
						{% else %}
					<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</nav>

		<section id="main" class="container-fluid">
			<div class="row">
				<div id="sidebar-wrapper" class="col-md-2">
				</div>

				<div class="col-md-8">
					{{ content }}
				</div>
			</div>
		</section>

		<footer>
			<div class="contact">
				<p>
					<a href="https://github.com/silverhammermba">github.com/silverhammermba</a><br />
				</p>
			</div>
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{ site.name }}</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://silverhammermba.github.io/superuser/" property="cc:attributionName" rel="cc:attributionURL">Maxwell Anselm</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script>
var headers = $('#main :header').slice(1);

function hlvl(x) {
	return x.tagName[1] * 1;
}

if (headers.length > 0) {
	var index = 0;

	// build toc starting at header level
	function build_toc() {
		var ol = $('<ol></ol>');

		var level = hlvl(headers[index]);

		while(true) {
			// if we've reached the end or the header is too high level we're done
			if (index >= headers.length || hlvl(headers[index]) < level)
			{
				return ol;
			}

			// create li
			var li = $('<li><a href="#' + headers[index].id + '">' + $(headers[index]).text() + '</a></li>');

			++index;

			// if the next header is a level lower, recurse and add it to the li
			if (index < headers.length && hlvl(headers[index]) > level)
				li.append(build_toc());

			// add to the list
			ol.append(li);
		}
	}

	var toc = build_toc();

	toc[0].id = "toc";

	$('#sidebar-wrapper').append(toc);
}
		</script>
	</body>
</html>
